body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

#generatedText {
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
}

.copy-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#copyButton {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 10px;
}

footer {
    margin-top: 50px;
    font-size: 0.8em;
    color: #666;
}
