body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding-top: 25px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

#generatedText {
    width: 78%;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
}

.copy-clear-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 20px;
}

.copy-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#copyButton, #clearButton {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 10px;
}

#copyMessage {
    color: green;
    margin-top: 5px;
    opacity: 1;
    transition: opacity 2s;
}

#clearButton {
    background-color: red;
    color: white;
    align-self: center;
}

footer {
    text-align: center;
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.footer-icons a {
    color: #333;
    font-size: 1.5em;
    transition: color 0.5s;
}

.footer-icons a.github-icon:hover {
    color: #000;
}

.footer-icons a.linkedin-icon:hover {
    color: #0077b5;
}

@media screen and (max-width: 600px) {
    #controls {
        flex-direction: column;
        align-items: center;
    }
    #controls input {
        margin-bottom: 10px;
    }
    #controls button {
        margin-bottom: 20px;
    }
    #generatedText {
        width: 90%;
        margin-bottom: 20px;
    }
    #buttons-container {
        flex-direction: column;
        align-items: center;
    }
    .clipboard-clear-buttons {
        margin-bottom: 10px;
    }
}
